.chart-area {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: left;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chart-title {
  display: flex;
  align-items: center;
}

.chart-title .title-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.chart-header h2 {
  font-size: 24px;
  margin: 0;
}

.price-info {
  font-size: 14px;
  color: #666;
}

#chartContainer {
  background-color: #fff;
  height: 520px; /* 차트 높이 */
  border: 1px solid #eaeaea;
  border-radius: 8px;
  overflow: hidden;
}

.chart-footer {
  text-align: left;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.chart-footer .footer-content:hover {
  text-decoration: underline;
}
